*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/1a/c01b036412c800151da4c3706a07f7ea
.metadata/.plugins/org.eclipse.core.resources/.history/1d/90fcdc6012c800151da4c3706a07f7ea
.metadata/.plugins/org.eclipse.core.resources/.history/5e/30dbf44c12c800151da4c3706a07f7ea
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/1083689720.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1348013806.index
.metadata/.plugins/org.eclipse.jdt.core/1586978865.index
.metadata/.plugins/org.eclipse.jdt.core/1656282002.index
.metadata/.plugins/org.eclipse.jdt.core/1692234390.index
.metadata/.plugins/org.eclipse.jdt.core/1917121814.index
.metadata/.plugins/org.eclipse.jdt.core/2081520432.index
.metadata/.plugins/org.eclipse.jdt.core/2119160767.index
.metadata/.plugins/org.eclipse.jdt.core/2172906012.index
.metadata/.plugins/org.eclipse.jdt.core/262645610.index
.metadata/.plugins/org.eclipse.jdt.core/292086710.index
.metadata/.plugins/org.eclipse.jdt.core/3916777747.index
.metadata/.plugins/org.eclipse.jdt.core/4031328055.index
.metadata/.plugins/org.eclipse.jdt.core/4034374388.index
.metadata/.plugins/org.eclipse.jdt.core/762399427.index
.metadata/.plugins/org.eclipse.jdt.core/855630358.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
github-tutorial/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.resources/.history/9/503c3a7613c800151da4c3706a07f7ea
.metadata/.plugins/org.eclipse.debug.core/.launches/Hello.launch
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1/70da023f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/10/6094368e820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/1a/d0eeb69d820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/26/40fb04f6820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/26/c0f9653a820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/2e/90ce7343fdd200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/31/10209663fdd200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/31/f03d9622820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/36/e00419de820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/3a/7032af12820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/3e/a0e97dd4820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/5/80abe0ca820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/6/30b15868fdd200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/60/c06b524f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/65/90a2fd0b820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/6b/40ba939e820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/6f/a0f5113f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/7c/400b113f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/7c/80a7113f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/7f/6002be2f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/8/e00a30da820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/8c/d0ba44ef810400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/8d/20bd103f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/9e/c09e3f31fdd200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/a/c0b791f0820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/ae/0053863a820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/b0/20ccb2ab820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/b1/8083f3c1820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/b3/e05cd72b830400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/b6/60690a1d820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/c1/a068853a820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/c6/300c1a28fed200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/cf/f0c8bfff810400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/d/309aaf2dfdd200151dafdfe02e1fd4cc
.metadata/.plugins/org.eclipse.core.resources/.history/d1/5001b229820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/d8/40264d0f830400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/dc/20a5cdb2820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/e1/408cc0ff810400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/e1/e004863a820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/e1/e020103f820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/f2/f0481de6810400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.history/f4/60d87ae2820400161b26a7b2d0374b50
.metadata/.plugins/org.eclipse.core.resources/.projects/github-tutorial/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/.indexes/e4/9f/15/20/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/.indexes/e4/9f/16/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/java-lesson/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/17.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.oomph.setup.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.computingSumAndAverageValue.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.searchTheLowestValuesIdxInList.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testComputingSumAndAverageValue.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testFillingTheArrayWithFour.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testFillingTheArrayWithTwo.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testSearchKeyValueInList.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testSearchKeyValueInListFailCase.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testSearchTheLowestValueInList.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArrayTutorial.testSearchTheLowestValuesIdxInList.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/BranchingTutorial.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Chapter4Test.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Chapter4Test.testFooMethod.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Chapter4Test.testKeyIn.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ComputingATotal.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/CountingMatches.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DiceSimulator.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DiceSimulatorHw1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FibonacciGenerator.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FibonacciRunner.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/HomeworkDay1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/InterfaceTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/java-lesson.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/NestedLoopsTutorial.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ProgrammingExercise.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ProgrammingExercise.testName5.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ProgrammingExercise.testName6.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_7
.metadata/.plugins/org.eclipse.jdt.core/2139666718.index
.metadata/.plugins/org.eclipse.jdt.core/324083723.index
.metadata/.plugins/org.eclipse.jdt.core/3842684002.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.junit/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/2/9/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/2/9/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/3/10/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/3/10/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/3/11/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/3/11/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/4/15/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/4/15/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java-lesson/2016/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.oomph.setup.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_d
.recommenders/snipmatch/repositories.config
